<h1>Twitter連携</h1>
<p><%= "name:" + @user[:nickname]%></p>
<p><%= "screen_name:" + @user[:name]%></p>
<p><%= "image_url:" + @user[:image_url]%></p>
<p><%= "description:" + @user[:description]%></p>
<%= link_to "logout" ,:controller => "sessions", :action => "destroy" %>