
<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




  <div class="form-group">
    <p>1.タイトルを好きに入力してみよう(例：エンジニアになりたい。エンジニアとして実務経験3年以上あり！）</p>
    <%= form.text_area :title, class:'form-control', rows:"3" %>
  </div>
  <div class="form-group">
    <p>2.あなたの特徴を好きに書いてみよう(例：スキル、資格、タイプ、性格)</p>
    <%= form.text_area :content, class:'form-control', rows:"3" %>
  </div>
  <div class="form-group">
    <p>3.あなたの求める条件を好きに書いてみよう(例：給与、待遇、働き方)</p>
    <%= form.text_area :desire, class:'form-control', rows:"3" %>
  </div>
  <div>
    <%= form.label :tag_list, 'タグをカンマ区切りで入力してみよう' %>
    <%= text_field_tag 'post[tag_list]', @post.tag_list, :class => "form-control" %>
  </div>
  <div class="form-group">
    <p>背景画像選択</p>
    <div class="background-engininere">
      <%= form.label :kind, "エンジニア"%>
      <%= form.radio_button :kind, "green" %><%= image_tag 'green.jpeg', width: '100' %>
    </div>
    <div>
      <%= form.label :kind, "営業"%>
      <%= form.radio_button :kind, "red" %><%= image_tag 'red.jpg', width: '100' %>
    </div>
    <div>
      <%= form.label :kind, "企画"%>
      <%= form.radio_button :kind, "orange" %><%= image_tag 'orange.jpeg', width: '100' %>
    </div>

    <div>
      <%= form.label :kind, "マーケティング"%>
      <%= form.radio_button :kind, "blue" %><%= image_tag 'blue.jpeg', width: '100' %>
    </div>

    <div>
      <%= form.label :kind, "その他"%>
      <%= form.radio_button :kind, "oudo" %><%= image_tag 'oudo.jpeg', width: '100' %>
    </div>

  </div>

  <div class="actions">
    <%= form.submit "Tweetする（まだツイートされません）", id: 'submit', class:"btn btn-outline-primary" %>
  </div>
<% end %>