<% if @user.id == @post.user_id %>
  <div class="confirm">
    <div class="image_created">
      <%= image_tag @post.picture, width: '315' %>
    </div>


    <div class="button">
      <a href="https://twitter.com/share?url=https://iamrecruitme.herokuapp.com/posts/<%= @post.id %>&hashtags=iam,<%=@post.tag_list %>" target="_blank" class="square_btn" data-show-count="false">
        <button type="button" class="btn btn-primary">Twitter投稿へ</button>
      </a>
      <div>
        <%= link_to "画像編集へ戻る", edit_post_path(@post) %>
      </div>
      <div>
        <%= link_to "トップページへ", root_path %>
      </div>
    </div>
  </div>
<% else %>
  <%= render "shared/error" %>
<% end %>