
<ul class="list-group">
  <li class="list-group-item">
    <%=link_to  "1.タイトルを入力してみよう"%>
  </li>
  <li class="list-group-item">
    <%=link_to  "2.あなたの特徴を入力してみよう"%>
  </li>
  <li class="list-group-item">
    <%=link_to  "3.あなたの希望を書いてみよう"%>
  </li>
  <li class="list-group-item">
    <%=link_to  "4.タグをつけてみよう"%>
  </li>
</ul>

<!-- 部分テンプレート -->
<%= render 'form', post: @post %>