<div class="post">
  <p id="notice"><%= notice %></p>
  <div class="show-image">
    <%=image_tag(@post.picture) %>
  </div>
  <%if @user.nil?%>
    <%=render "shared/error"%>
  <%else%>
    <% if @user.id == @post.user_id %>
      <%= link_to '編集する', edit_post_path(@post) %> |
      <%= link_to '一覧画面に戻る', posts_path %>
    <% else %>
      <%=render "shared/error"%>
    <% end %>
  <% end %>
</div>